@font-face {
    src: url("font/FRABK.woff");
    font-family: fgb;
}
body{
background-color:#fff5ea;
}
.paragraph {
    font-size: 30px;
    line-height: 62px;
    font-family: "Courier";
}

.cmrinf {
    font-size: 20px;
    font-family: "Courier";
}

.smlinfo {
    font-size: 15px;
    font-family: "Courier";
}
/*
*/
#portrait img {
width: 60%;
}
#landscape img {
width: 80%;
}

::-webkit-scrollbar {
width: 0px;
}
::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255);
}
#back2Top {
    width: 60px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    color: white;
    text-align: center;
  }